body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

.Navbar {
  justify-content: space-between;
}

.initials {
  display: flex;
  justify-content: center;
  margin: 50px auto 30px auto;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 1px solid black;
  width: fit-content;
  height: 35px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

.initials:hover {
  font-weight: 400;
  transform: scale(1.05);
}

.list {
  font-weight: 300;
  display: flex;
  letter-spacing: 1px;
  font-size: 1.25em;
  justify-content: center;
  height: 50px;
  width: fit-content;
  margin: auto;
}

.noLink,
.noLink a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list>button {
  margin: 0px 30px 0px 0px;
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  padding: 0px 10px;
  transition: transform 0.1s ease;

}

.list>button:hover {
  font-weight: 400;
  transform: scale(1.1);
}


.photos img {
  display: inline;
  justify-content: center;
  width: 30%;
  margin: calc(10%/6);
  transition: filter 0.2s ease;
}

.photos img:hover {
  filter: brightness(1.1);
}

.home-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  height: 100%;
}

/* fonts */
.home,
.bio,
.about {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.25em;
  z-index: 1;
  flex-grow: 1;

}

.home-img {
  width: 25%;
  height: auto;
  position: absolute;
  padding-top: 1%;
  padding-left: 2%;
  z-index: -1;
}


.photo-buttons {
  border: none;
  background: none;
  transition: transform 0.5s ease;
  z-index: -1;
}

.photo-scroll-button-v1:hover {
  transform: translate(-0.4em, 0em)
}

.photo-scroll-button-v2:hover {
  transform: translate(0.4em, 0em)
}

.photo-scroll-button-v1 {
  margin: 15% 0 0 65%;
}

.photo-scroll-button-v2 {
  /* transform: translate(200%, auto, 0, 55%); */
  margin: 1.45% 0 0 1%;
}

.img-fade {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.img-fade.active {
  opacity: 1;
}



.home-v1 {
  /* transform: translate(-0%, -50%); */
  margin: 10% auto 0 60%;
}

.home-v2 {
  /* transform: translate(-0%, -55%); */
  margin: 3% auto 0 60%;
}

.home-v3 {
  /* transform: translate(-0%, -60%); */
  margin: 3% auto 0 60%;
}

.home-v4 {
  /* transform: translate(-0%, -60%); */
  margin: 3% auto 0 60%;
}

.bio-container {
  width: 750px;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* transform: translate(-0%, -50%); */
  /* margin: 70px auto 0px 20%; */
  padding-left: 20%;
  margin-top: 70px;
  margin-bottom: 100px;
  font-weight: 400;
}

.back-of-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.panel {
  /* background-color: beige; */
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 60px 25px;
  width: 100%;
  width: 1050px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: left;
  align-items: center;
}

.contact-link-name {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}

.contact-category {
  font-weight: 500;
  font-size: 20px;
}

.contact-button-a {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px 35px;
  text-decoration: none;
  color: inherit;
  margin: 10px 0;
  letter-spacing: 1px;
  font-weight: 600;
  transition: background-color 0.4s ease-in-out, color 0.3s ease;
}

.contact-button {
  margin: 18px 0;
}

.contact-button-a:hover {
  background-color: rgb(42, 41, 41);
  color: grey;
}


.bio-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.bio-word-container {
  margin-left: 40%;
  width: 200%;
}

.bio-img {
  margin-top: 10%;
  margin-left: 170%;
  width: 120%;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}