body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: none;
}

.menuItem {
  border-radius: 15px;
  width: 300px;
  height: 350px;
  margin: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.drawer-button {
  display: none;
}

.navbar {
  justify-content: space-between;
}

.initials {
  display: flex;
  justify-content: center;
  margin: 50px auto 30px auto;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 1px solid black;
  width: fit-content;
  height: 35px;
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s ease;
}

.initials:hover {
  font-weight: 400;
  transform: scale(1.05);
}

.list,
.folder-list {
  font-weight: 300;
  display: flex;
  letter-spacing: 1px;
  font-size: 1.25em;
  justify-content: center;
  height: 50px;
  width: fit-content;
  margin: auto;
}

.noLink,
.noLink a {
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list>button,
.folder-list>button {
  margin: 0px 30px 0px 0px;
  border: none;
  background: none;
  color: inherit;
  padding: 0;
  font: inherit;
  cursor: pointer;
  padding: 0px 10px;
  transition: transform 0.1s ease;

}

.list>button:hover,
.folder-list>button:hover {
  font-weight: 400;
  transform: scale(1.1);
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(10%/6);
  margin: calc(10%/6);
}

.photos img {
  width: 100%;


  transition: filter 0.2s ease;
}

.photos img:hover {
  filter: brightness(0.8);
}

.home-container {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1.05fr;
  height: 100%;
}

/* fonts */
.home,
.bio,
.about {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.25em;
  z-index: 1;
  flex-grow: 1;

}

.home-img {
  width: 25%;
  height: auto;
  position: absolute;
  padding-top: 1%;
  padding-left: 2%;
  z-index: -1;
}


.photo-buttons {
  border: none;
  background: none;
  transition: transform 0.5s ease;
  z-index: -1;
  font-size: large;
}

.photo-scroll-button-v1:hover {
  transform: translate(-0.4em, 0em);
  cursor: pointer;
}

.photo-scroll-button-v2:hover {
  transform: translate(0.4em, 0em);
  cursor: pointer;
}

.photo-scroll-button-v1 {
  margin: 9% 0 0 65%;
}

.photo-scroll-button-v2 {
  margin: 1.45% 0 0 2%;
}

.img-fade {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.img-fade.active {
  opacity: 1;
}



.home-v1 {
  margin: 10% auto 0 60%;
}

.home-v2 {
  margin: 3% auto 0 60%;
}

.home-v3 {
  margin: 3% auto 0 60%;
}

.home-v4 {
  margin: 3% auto 0 60%;
}

.bio-container {
  width: 40%;
}

.bio {
  padding-left: 20%;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: 400;
}

.bio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.bio-word-container {
  margin-left: 40%;
  width: 200%;
}

.bio-img {
  margin-top: 10%;
  margin-left: 170%;
  width: 120%;
}

.back-of-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.panel {
  border-radius: 10px;
  padding: 60px 25px;
  width: 100%;
  width: 1050px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: left;
  align-items: center;
}

.contact-link-name {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}

.contact-email:hover {
  text-decoration: underline;
}

.contact-category {
  font-weight: 500;
  font-size: 20px;
}

.contact-button-a {
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px 35px;
  text-decoration: none;
  color: inherit;
  margin: 10px 0;
  letter-spacing: 1px;
  font-weight: 600;
  transition: background-color 0.4s ease-in-out, color 0.3s ease;
}

.contact-button {
  margin: 18px 0;
}

.contact-button-a:hover {
  background-color: rgb(42, 41, 41);
  color: grey;
}





.about-container {
  width: 100%;
}

.about {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.own-photo-page {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.own-photo {
  width: 100%;
  padding: 10px 0 0 20px;
}

.own-photo-text {
  margin-left: 10%;
  width: 50%;
}

.date-of-photo {
  color: rgb(110, 108, 108);
}

.text-of-photo {
  line-height: 200%;
  font-weight: 500;
}

.hidden-links {
  display: none;
}



@media (max-width: 576px) {
  .list {
    display: none;
  }

  .folder-list {
    padding: 0;
    margin: 9% 0 6% 7.5%;
  }



  .initials {
    margin-left: 100%;
  }

  .initials:hover {
    letter-spacing: 2px;
    font-weight: 300;

  }



  #open.initials {
    display: none;
  }

  #open.hidden-links {
    display: inline;
  }

  .drawer-button {
    display: flex;
    margin-top: 10.5%;
    cursor: pointer;
  }

  .home-img {
    width: 61% !important;
    margin-left: -12%;
  }

  .home-v2 {
    margin: -6% auto 0 51% !important;
  }

  .home-v3 {
    margin: 0 auto 0 73% !important;
  }

  .home-v4 {
    margin: 0 auto 0 46% !important;
  }

  .photo-scroll-button-v1 {
    margin: 4% 0 0 64% !important;
  }
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    white-space: nowrap;
  }

  .list {
    width: 100%;
    margin-left: -8%;
    margin-top: 8%;
    margin-right: 1%;
  }


  .first-part-of-home-content {
    display: flex;
    justify-content: center;
  }

  .home-content {
    white-space: nowrap;
  }

  .home-v1 {
    display: none;
  }

  .home-v2 {
    margin-left: 62%;
    margin-top: -2%;
  }

  .home-v3 {
    margin: 3% auto 0 78.5%;
  }

  .home-v4 {
    margin: 3% auto 0 59%;
  }

  .home-container {
    grid-template-columns: 0.65fr;
  }

  .home-img {
    padding-left: 31%;
    width: 44%;
  }

  .photo-scroll-button-v1 {
    margin: 4% 0 0 71%;
  }

  .photo-scroll-button-v2 {
    margin: 1.45% 0 0 1%;
  }

  .photos {
    display: block;
    justify-content: center;
    width: 97%;
    /* margin: calc(10%/6); */
    transition: filter 0.1s ease;
  }

  .bio-container {
    width: 75%;
  }

  .bio {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 5%;
    margin-right: 0;
    margin-top: 5%;
    margin-bottom: 10%;
    font-weight: 400;
  }

  .bio-container {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
  }

  .bio-word-container {
    margin-left: 40%;
    width: 200%;
  }

  .bio-img {
    display: none;
  }

  .own-photo-page {
    display: block;
  }

  .own-photo {
    width: 95.5%;
    padding: 2% 2% 0 2%;
  }

  .own-photo-text {
    display: block;
    margin-left: 2%;
    margin-top: -1%;
  }


}

@media (max-width: 930px) {
  .bio-img {
    display: none;
  }

  .bio {
    margin-top: 3%;
  }

  .bio-container {
    width: 67%;
  }

}

@media (max-width: 1200px) {
  .about-container {
    display: block;
    line-height: 60px;
    margin-left: 20%;
    width: 70%;
  }
}